[2017-08-10 12:22] capaj opened #2 "consider adding json to graphql tranform"
maybe utilizing https://www.npmjs.com/package/json-to-graphql-schema ?

[2017-08-10 13:05] sibelius opened #3 "inline style react native to styled componentes"
[code]

[code]

[2017-08-10 13:19] ritz078 commented on #2
I am not too familiar with GrapQL. If someone wants to add it, I would be happy to help.

[2017-08-10 13:26] ritz078 commented on #3
It won't be possible to detect if the element is `View`, `Text` etc.

[2017-08-10 13:39] sibelius commented on #3
we can have some heuristics approaches (font-family needs a `Text`), or just convert everything to a View, and let the user finish the conversion

[2017-08-18 07:23] morajabi opened #7 "Suggestion: I want to add JSON to GraphQL schema"
Hey @ritz078, awesome work here. I've been struggling with writing schemas for a couple of days recently and I know how it hurts 💯

I just wanted to add two other functionality to this excellent project here. I want to contribute to this as long as I can. This is the first one, if you wish I can do that.

[2017-08-18 07:26] ritz078 commented on #7
That would be great. you can surely do a PR to start with.

[2017-08-18 08:37] morajabi commented on #7
I will start soon, but before that can you tell me a bit how this project is structured exactly?

[2017-08-18 09:51] ritz078 commented on #7
AST is generated only for JSON to propTypes. Other than that, all transformations are string manipulations.
to create a new route, create a file in pages folder `json-to-graphql.js` and add the route in Layout.js for navigation. each page uses the `ConversionPanel` component. you just pass the transformation function to that component. all the transformation functions are present inside `utils` fo

[2017-08-18 20:42] ritz078 opened #8 "JSON to Scala case class"
https://twitter.com/waxzce/status/898472603270172673

[2017-08-18 22:00] DanielFGray opened #9 "available as a node/npm module"
It would be awesome if I could have a CLI version of this, takes stdin, some arguments, prints result.

Editor integration could become a thing.

[2017-08-19 11:23] GeeWee opened #11 "Reverse transforms"
This is a really cool project. I'm wondering what the prospects are for doing reverse transforms, or converting between e.g. PropTypes to typescript interfaces (which would enable automatic typing generation for React components that have PropTypes)
Is this something that this codebase could support or is it mainly geared towards 1-way transformations?

[2017-08-19 18:34] ritz078 commented on #11
There can be two types of reverse transforms.

- PropTypes to flow/typescript (in scope of this project)
- Proptypes/flow/interface to dummy JSON data (a separate project maybe)

But before implementing the first one, I would like to create a generic module that can handle flow, typescript and similar schemas.

[2017-08-19 18:37] ritz078 commented on #9
That is a great suggestion. I am going to separate the logic as a separate npm module soon. And that can be useful for creating a CLI.

[2017-08-23 18:48] VictorChen opened #12 "Use comma instead of semicolon for flow types?"
Instead of:

[code]

can we have it generate:

[code]

(also, there should really be a semicolon after `type __ = {}`

FYI: https://flow.org/en/docs/types/aliases/

[2017-08-25 19:02] #12 closed

[2017-08-25 19:11] ritz078 commented on #12
Thanks for reporting. The fix is live now.

[2017-08-25 20:40] VictorChen commented on #12
Thanks for the quick fix! There's another flow issue I've noticed, will track that in a new issue

[2017-08-26 06:23] tusharmath opened #13 "GraphQL to Typescript"
Probably use — https://github.com/avantcredit/gql2ts

[2017-08-26 09:22] ritz078 commented on #7
@morajabi I have already JSON to mongoose schema. You can work on GraphQL. Are you working on it ?

[2017-08-26 09:31] morajabi commented on #7
@ritz078 Sorry, I was pretty busy. Glad to hear it, I'll do the GraphQL tomorrow is it OK?

[2017-08-26 09:33] ritz078 commented on #7
That will be great.

[2017-08-26 10:18] morajabi commented on #7
Sorry, Where is the code for JSON to mongoose transformer? I couldn't find it.

[2017-08-26 10:20] ritz078 commented on #7
I am using a package for it .

https://github.com/nijikokun/generate-schema

Usage is here https://github.com/ritz078/transform-www/blob/master/pages/json-to-mongoose.js

[2017-08-27 08:15] morajabi commented on #11
I think it would be better to have a unified language (something like ASTs) to convert everything into it and then transform it to the other. This approach makes it possible to user choose which one (JSON, TS/Flow, Mongoose) to convert to and which one to convert from.

Anyway, it's just an idea.

[2017-08-27 08:53] Raathigesh opened #14 "JSON to Immutable prop types"
Should we do JSON to [Immutable prop types ](https://www.npmjs.com/package/react-immutable-proptypes)?

If yes, I would be happy to implement it!

[2017-08-27 11:35] morajabi commented on #14
I think if @ritz078 would like to implement it, it is better for it to be a checkbox in *JSON to PropTypes* section.

[2017-08-27 12:12] ritz078 commented on #14
That would make more sense.

[2017-08-27 12:20] Raathigesh commented on #14
Thanks! I'll give it a shot!

[2017-08-27 16:11] morajabi commented on #7
Sorry @ritz078, can you take a look [at my fork](https://github.com/morajabi/transform-www)? I don't know why it keeps getting longer on every re-render? I think it's a problem with the [package](https://github.com/aweary/json-to-graphql) I've used. If it is the problem and it can't be fixed, then I will find another way.

[2017-08-29 08:04] ritz078 commented on #7
It is an issue with the package.

[2017-08-29 15:56] morajabi commented on #7
Oh, I see. So we have to make it on our own.

[2017-08-29 17:11] ritz078 commented on #7
Or just fork it and fix that issue.

[2017-08-29 17:56] morajabi commented on #7
@ritz078 What exactly is the issue with that library?

[2017-08-29 19:48] ritz078 commented on #7
it seems they are pushing the output in an array and not clearing it on every call.

[2017-08-29 21:18] #8 closed

[2017-08-30 18:43] ritz078 commented on #7
I have used apollo-codegen and implemented it. Let me know what you think. I am still not sure about it.

https://transform.now.sh/graphql-to-typescript

[2017-08-30 18:43] #7 closed

[2017-08-30 18:46] ritz078 commented on #7
I have added you to the contributors list. https://github.com/ritz078/transform-www#contributors

[2017-08-30 18:46] ritz078 commented on #13
https://transform.now.sh/graphql-to-typescript

[2017-08-30 18:47] ritz078 commented on #2
Does this help ? https://transform.now.sh/graphql-to-typescript

[2017-08-31 06:29] tusharmath commented on #13
This is great! Will give it a shot.

[2017-08-31 06:46] tusharmath commented on #13
I am not able to edit the query field. Is there a way for you to fetch the schema using the introspection query from a URL instead of the dev copy pasting it? Probably have text box for entering a URL?

[2017-08-31 08:01] ritz078 commented on #13
Can you try now to edit the query field ?

[2017-08-31 08:04] ritz078 opened #17 "Fix navigation accordion"
It refreshes everytime a URL is changed and looks buggy.

[2017-08-31 08:05] ritz078 commented on #14
@Raathigesh are you working on this ? Let me know if you are stuck somewhere.

[2017-08-31 08:07] Raathigesh commented on #14
I really did not look into it yet. Planning to work on it during the
weekend.

On Thu., 31 Aug. 2017, 6:05 pm Ritesh Kumar, <notifications@github.com>
wrote:

[2017-08-31 08:11] ritz078 commented on #14
No problem.

[2017-08-31 08:23] tusharmath commented on #13
Nope, the text area is awfully small. Plus it has this large element cover it
<img width="1915" alt="screen shot 2017-08-31 at 1 49 04 pm" src="https://user-images.githubusercontent.com/194482/29913591-3382e436-8e53-11e7-9bf5-ee27072798dc.png">
 —
 `#__next > div > div > div.content > div > div.content-wrapper > div.section.left.split`

<img width="1915" alt="screen shot 2017-08-31 at 1 47 10 pm"

[2017-08-31 13:12] #14 closed

[2017-08-31 16:20] GeeWee commented on #11
I think the unified language is a good idea!

[2017-08-31 16:37] #17 closed

[2017-08-31 21:00] ritz078 commented on #13
I think it should be fixed now as I have replaced ace editor with codemirror.

[2017-08-31 21:01] ritz078 opened #21 "GraphQL introspection query"

[2017-09-01 14:30] ritz078 commented on #11
Its a great idea but I am not sure about the use case. Most of the times if you want to convert from A to B, you would want to make that change directly in the code.

For example -
If you want to convert your codebase from PropTypes to flow, you would want to make those changes either by manually copy pasting or running a codemod.

I would love to hear your suggestions and I am truly up for a unif

[2017-09-01 15:21] GeeWee commented on #11
Imagine if you'd write your components in typescript, then you could automatically convert the interfaces into PropTypes for consumption by anyone not using typescript, or you could automatically create flow types from your PropTypes

[2017-09-01 15:36] ritz078 commented on #11
What you are talking about is codemods. In that case you need the to take the whole code into account. For example : It won't contain only propTypes . There will be some javascript code too. I guess there are already codemods available and that will just be a duplication of effort ?

What do you think ?

[2017-09-01 16:06] GeeWee commented on #11
There's no (popular) codemods afaik that deal with flow or typescript. But in my opinion the end game is definitely a codemod, but this could work as a nice stepping stone, and I could definitely see me using it manually on my projects at first

[2017-09-01 16:34] ritz078 commented on #11
Yes that is a great concept but not in scope of this project but that is a great idea for a new project. This project is more about babel transforms and codemods will be more about jscodeshift. I will research on this when I have time.

[2017-09-01 16:37] ritz078 commented on #2
Closing due to inactivity. Let me know if this needs to be opened again.

[2017-09-01 17:25] ritz078 commented on #3
I am not sure if a lot of people will need this feature. I will leave this open for feedback. If someone opens a PR, I will be happy to accept.

[2017-09-01 17:32] ritz078 opened #23 "Make it work offline"
Ideas or PR welcome.

[2017-09-02 11:21] morajabi commented on #2
OK, Probably he means generating this:
[code]

from a JSON, so we can pass it down to Apollo. https://github.com/apollographql/graphql-tools

[2017-09-02 11:36] ritz078 commented on #2
In that case I will open this for now.

[2017-09-02 11:38] ritz078 opened #24 "Looking for maintainers"
I will be busy with some other projects in coming days. This project seems to be stable in its current state but I will like to see it evolve and I will need some helping hand. Let me know if you are interested.

cc @morajabi

[2017-09-02 12:28] ritz078 opened #25 "fetch json from a remote url"

[2017-09-02 13:00] ritz078 opened #26 "Support Array as valid JSON"

[2017-09-02 13:02] #25 closed

[2017-09-02 14:23] #26 closed

[2017-09-02 15:22] akosyakov opened #27 "Migrate to the Monaco editor"
See https://github.com/ritz078/transform-www/pull/20#issuecomment-326750270

[2017-09-02 15:24] morajabi commented on #24
As long as I'm able to do something I'd be happy! But I can't promise to ALWAYS be available.

[2017-09-02 15:28] ritz078 commented on #24
As I said I think this project seems to be stable to I guess it won't take a lot of time.

[2017-09-02 15:29] morajabi commented on #24
So, let's do this. 👍

[2017-09-02 15:29] ritz078 commented on #27
The only pro I can think about is editing experience but I also think that most of the time users will copy and paste the JSON or fetch it from an URL.

[2017-09-02 15:32] ritz078 commented on #24
Sent you an invite. Also I am not leaving this project just need a bit of help with too many projects.

[2017-09-02 15:33] morajabi commented on #24
@ritz078 It can't be done without you.

[2017-09-02 15:42] akosyakov commented on #23
If you mean like an extension to VS code, Atom, Eclipe or other tools. You can leverage the language server protocol. It is supported already by following tools: https://github.com/Microsoft/language-server-protocol/wiki/Protocol-Implementations#editors-ides-supporting-the-protocol.

You will need to use [this library](https://github.com/Microsoft/vscode-languageserver-node/tree/master/server) to

[2017-09-02 15:43] akosyakov commented on #23
I guess it will depend on https://github.com/ritz078/transform-www/issues/9.

[2017-09-02 15:46] akosyakov commented on #27
If you go for https://github.com/ritz078/transform-www/issues/23#issuecomment-326751773 then the Monaco editor could be easily integrated with language servers via https://github.com/TypeFox/monaco-languageclient, I am not aware that Ace or CodeMirror can do it

[2017-09-02 15:46] morajabi commented on #23
I think @ritz078 means something like Service Workers (?)

[2017-09-02 15:48] morajabi commented on #9
@ritz078 I think we need to make its own organization when we're going to separate it to packages.

[2017-09-02 15:48] akosyakov commented on #23
@morajabi perhaps, but ability to create interfaces from JSON directly in the tool instead of switching to the browser could be cool

[2017-09-02 15:53] ritz078 commented on #23
These two are totally different. Here I meant using service workers to make the website work offline in the browser and what @morajabi means is a separate concern that needs multiple steps.

[2017-09-02 15:54] ritz078 commented on #27
Yes but its not needed on the website because its already simple. Everything is happening on the client side so I don't think we will ever need a server. separate packages will be enough.

[2017-09-02 15:57] ritz078 commented on #9
yes that's in my mind but I will wait till we have atleast two repos or I am very much up for having a monorepo. It will make development easier. Its a discussion we can have in a separate thread.

[2017-09-02 15:58] ritz078 commented on #23
@akosyakov We are planning to make separate packages so you won't need to have any server. you can directly use the module and make a plugin.

[2017-09-02 16:06] akosyakov commented on #23
@ritz078 ok, got you. A language server is not a real "server" in sense of web. It is an interface which tools understand to add support for new languages, so it can be developed once as a plugin and deployed to all tools listed.

[2017-09-02 16:11] ritz078 commented on #23
Got it. Thanks.

[2017-09-02 16:21] morajabi commented on #23
@ritz078

I said Service Workers too:

[2017-09-02 16:24] morajabi commented on #9
@ritz078 You're right, it doesn't make sense to make one repo in its own org, but I meant at the time we were separating this to multiple packages.

[2017-09-02 16:24] ritz078 commented on #23
@morajabi That was an error in mentioning. I corrected it.

[2017-09-02 16:26] ritz078 commented on #9
yes multiple packages but they all will combine to give one API. So I was thinking about a monorepo as testing will be easier and website will also be updated.

[2017-09-02 16:28] morajabi commented on #9
For that, Yes, but what about CLI or maybe in future editor extensions?

[2017-09-02 16:31] ritz078 commented on #9
Same package will also have a CLI and API usage. There's still time for editor extensions. So once we reach that stage I will definitely move this to an org. I just think that the core tool will be part of single repo and when there something extra based on that tool (like extensions), I will create an org. Does this sound good to you. I am also willing to move to an org but after we have the tool

[2017-09-02 16:33] ritz078 opened #28 "Move to a separate org"
Continuing from #9

@morajabi Lets keep the discussion here.

Any name in mind ? **transform** is not available

[2017-09-02 16:38] morajabi commented on #28
Do we want to rename the main package too?

[2017-09-02 16:41] ritz078 commented on #28
Yes. But we can use scoped npm name for that like @Orgname/transform like storybook does . So that won't be an issue.

[2017-09-02 16:41] AsaAyers commented on #28
Are you considering using [scoped npm packages](https://docs.npmjs.com/misc/scope)? If you do, then you can name the packages anything you want without running into name conflicts with anyone else.

[2017-09-02 16:42] ritz078 commented on #28
@AsaAyers Yes thats what I have in mind.

[2017-09-02 16:47] morajabi commented on #28
Just a suggestion: **any-to-any** or **transform-it**

[2017-09-02 16:51] ritz078 commented on #28
I like transform-it

[2017-09-02 16:56] morajabi commented on #28
After your confirmation, we can sketch a logo for it.

[2017-09-02 17:01] ritz078 commented on #28
That's the last thing to do. First we need to create the tools as that's the most important thing.

[2017-09-02 17:03] morajabi commented on #28
I love designing. Nevermind!

What? Tell me it's yours, please!! https://github.com/transform-it

[2017-09-02 17:04] ritz078 commented on #28
So do I 😄 Yes its mine.

[2017-09-02 17:05] ritz078 commented on #28
Also I have asked the owner of **transform** if he will be willing to give up the username. so I will wait a few days.

[2017-09-02 17:12] morajabi commented on #28
@ritz078 I don't think **Transform** is even able to see your message! Anyway it's worth trying.

[2017-09-02 17:15] ritz078 commented on #28
Yes. If he doesn't reply, will move to transform-it

[2017-09-02 17:29] morajabi commented on #28
@ritz078 Great! I'll make another issue for the logo just to be there for later.

[2017-09-02 17:30] morajabi opened #29 "Logo"
After finalizing the move to our new org, we'll design logo here.

[2017-09-02 19:07] tusharmath commented on #13
@ritz078 Sorry for the late response, I have been a bit busy.
Unfortunately its still not working, the left pane isn't scrollable :(

[2017-09-03 09:31] ritz078 commented on #28
closing this as we have moved to an org.

[2017-09-03 09:31] #28 closed

[2017-09-03 09:31] ritz078 commented on #29
I have used a placeholder logo for now.

[2017-09-03 09:59] morajabi commented on #29
Is it our logo? It's good I suppose, tell me what parts don't you like, how it can be redesigned to match what you want.

[2017-09-03 10:10] ritz078 commented on #29
yes it's our logo. It has been on the website since long. I don't have any problem with it.

[2017-09-03 10:11] morajabi commented on #29
I think we should keep it for now! it's good!

[2017-09-03 10:11] #29 closed

[2017-09-03 21:44] ritz078 commented on #9
I have created separate NPM packages :

- **JSON to flow, TS, scala, rust serde** : [transform-json-types](https://github.com/transform-it/transform-json-types)
- **CSS-to-JS** : [transform-css-to-js](https://github.com/transform-it/transform-css-to-js)
- **JSON to PropTypes** : [babel-plugin-json-to-proptypes](https://github.com/transform-it/babel-plugin-json-to-proptypes)
- **GraphQL to TS, Flow

[2017-09-03 21:44] #9 closed

[2017-09-03 22:33] morajabi commented on #9
Great!

[2017-09-03 23:34] DanielFGray commented on #9
I threw this together in 20 minutes or so: https://github.com/danielfgray/transform-cli/blob/master/index.js

`curl somejson | node ./index.js -t flow` will print flow types for the given json

Needs a lot of polish, I'll happily transfer it wherever

[2017-09-04 03:38] bang88 opened #32 "Support Realm Model"
Any 	chance to support Realm Scheme  https://realm.io/docs/javascript/latest/#models
[code]

Thanks .

[2017-09-04 08:23] ritz078 commented on #9
@DanielFGray Looks great. I have sent you an invite to the organisation. You can add it in the org.

[2017-09-04 08:54] ritz078 commented on #32
I will leave this open to see how many people are interested or else I am happy to accept a PR.

[2017-09-04 11:01] ritz078 commented on #13
I saw that on some browser. But its not happening on my browser. @cg-cnu Can you reproduce this on your machine ?

[2017-09-04 11:05] cg-cnu commented on #13
Yes, its broken on my machine too.. chrome 55  on linux
![image](https://user-images.githubusercontent.com/2767425/30023896-034924da-918f-11e7-9379-83548d73efa5.png)

[2017-09-04 11:06] ritz078 opened #33 "Make it mobile friendly"

[2017-09-04 11:07] ritz078 commented on #13
@cg-cnu Can you look into this ? Should me a minor CSS issue.

[2017-09-04 11:08] cg-cnu commented on #13
Sure.. am on it :slightly_smiling_face:

[2017-09-04 17:54] #23 closed

[2017-09-05 02:46] cg-cnu opened #34 "npm WARN transform@2.0.0 No repository field."
warning on `npm install`.

[2017-09-05 08:59] shug0 opened #36 "[Suggestion] Add ES6 option for HTML to JSX - Create Class option"
It will be nice to have another checkbox for ES6 format for the create class of HTML to JSX in the React Section.

Maybe it's too much for the tools.

Thanks for this awesome tools 👍

[2017-09-05 10:03] ritz078 commented on #36
I am thinking of totally removing it. There is no point giving anyone the JS part. Most of the time users only need the JSX part. I am currently creating a module that will convert svg to `react-native-svg` compatible svg. So I was thinking of replacing that button with this.

I am not yet sure about removing it. But I don't see a lot of usage for that.

[2017-09-05 10:08] shug0 commented on #36
Yeah I agree with this, the simple transform purpose is a bit too much if you want to include all "compatible" ways to write a class. I close this thanks for consideration 😼

[2017-09-05 10:08] #36 closed

[2017-09-05 11:13] #34 closed

[2017-09-05 16:38] ritz078 opened #37 "Load local file"
In the left panel we can load a file like `.json` from computer.

[2017-09-06 03:56] gyandeeps commented on #33
I was planning to work on this but codemirror is a pain to work with (and its inside a dependency). Even currently you can't scroll on the left editor.

[2017-09-06 07:34] ritz078 commented on #33
I think it doesn't make sense to make it mobile friendly. So I will close this for now. But the scrolling part definitely needs to be fixed.

[2017-09-06 07:56] ritz078 opened #41 "Version on the website"
Set up versioning. Show version number on the website and clicking on that should open a changelog or redirect to a changelog in new tab.

[2017-09-06 11:40] ritz078 opened #43 "Show error when there is error fetching JSON"

[2017-09-06 11:46] ritz078 opened #44 "Add a clear button in the left panel"

[2017-09-06 18:56] copumpkin opened #45 "JSON to scala case class will produce weird case classes"
In the example at https://transform.now.sh/json-to-scala-case-class, it translates a JSON array to a Scala `Array`. Unfortunately, Scala `Array` is just a wrapper for Java arrays, which have reference equality. That means that equality between case class instances produced using this tool will not have sensible equality (because distinct arrays containing the same elements will be considered diffe

[2017-09-06 19:45] ritz078 commented on #45
So if I am understanding you correctly, even `List` is a valid alternative right ? I am not a Scala user to confirming before making any changes.

[2017-09-06 19:49] Roughsketch opened #46 "JSON to Serde doesn't handle keywords or spaces"
I guess this is two issues in one, but these are things I've noticed while trying to use it.

1. It doesn't handle renaming keywords. I've seen this issue with APIs that will return something like

[code]

Output will give you the following struct:
[code]

But it should be giving something like this:
[code]

2. Key with spaces will produce invalid Rust. For instance, the following JSON will produc

[2017-09-06 19:53] copumpkin commented on #45
Yeah, `List` would be fine, although it's a singly linked list. `Seq` and `IndexedSeq` are interfaces and will often have more efficient datastructures behind the scenes, but for data modeling they're all just sequences so it shouldn't matter.

Another consequence I forgot to mention in the bug report is that `Array` also has an awful `toString` instance, so any case classes using arrays will just

[2017-09-06 19:58] ritz078 commented on #45
Fine then I am going ahead with `Seq` and making the changes. Thank you.

[2017-09-06 20:02] #45 closed

[2017-09-06 20:11] ritz078 commented on #45
fix is live.

[2017-09-06 20:12] copumpkin commented on #45
Thank you for the quick response!

[2017-09-06 20:32] ritz078 commented on #46
How do suggest to rename them ?

- for spaces I can change it to camel case
- for reserved keyword - prefix / postfix ?

Any suggestion for the second one ?

[2017-09-06 20:34] Ameobea commented on #46
I'm a fan of just adding a underscore to the beginning.  `type` -> `_type`.

[2017-09-06 21:01] #46 closed

[2017-09-06 21:11] ritz078 commented on #46
fix deployed.

[2017-09-06 21:57] #43 closed

[2017-09-07 11:54] morajabi commented on #44
If it's not urgent I can do it in the following week.

[2017-09-07 11:57] ritz078 commented on #44
Sure 👍

[2017-09-09 18:05] mslinn opened #47 "Feature request: Add support for HOCON"
[HOCON](https://github.com/typesafehub/config) is a JSON superset. Many parsers exist, including my favorites, [circe-config](https://github.com/circe/circe-config) and [PureConfig](https://github.com/pureconfig/pureconfig).

[2017-09-09 18:44] ritz078 commented on #47
I am not familiar with it but if anyone wants to submit a PR, I will gradly accept it.

[2017-09-11 16:23] ritz078 opened #48 "Move prettier to web worker"

[2017-09-11 21:54] #48 closed

[2017-09-13 02:41] gyandeeps opened #51 "Project linting using ESLint and airbnb guide"
https://www.npmjs.com/package/eslint-config-airbnb

[2017-09-13 09:51] ritz078 commented on #51
prettier and these config don't go well together. Rather I would like to switch to prettier-standard which handles both linting and formatting.

[2017-09-13 20:59] DanielFGray opened #52 "changing transformer shouldn't change data the user inputs"
Needs some test that checks whether the json input is the default value or not before changing it

[2017-09-14 06:43] morajabi commented on #52
I agree. If two transformers accept similar data types we shall not remove the user input.

[2017-09-14 06:44] morajabi commented on #51
Prettier is superb. But we can use `prettier-eslint` and `eslint --fix` together too.

[2017-09-14 10:05] ritz078 commented on #51
@gyandeeps I think we should use `prettier-standard` and get rid of lot of config files. Also it will be great if it runs before every commit using husky and lint staged.

[2017-09-14 10:24] morajabi commented on #51
I thought we have husky and lint staged... Yeah, they're perfect. I can add them tonight.

[2017-09-14 17:24] morajabi commented on #51
@ritz078 Do you know prettier-standard follows [Standard Styleguid](https://github.com/standard/standard) which

[2017-09-14 17:45] morajabi commented on #51
Shall we add Jest too for new features?

[2017-09-14 17:53] ritz078 commented on #51
What do you mean by new features ? All modules are in separate packages with their own tests. So I don't think its needed here.

[2017-09-14 19:08] morajabi commented on #51
Oh, I see. I didn't notice that we no longer have transform modules here. Sorry, my bad.

[2017-09-14 19:22] morajabi commented on #51
Done! #54

[2017-09-14 19:51] #37 closed

[2017-09-14 20:00] #51 closed

[2017-09-14 22:47] ritz078 commented on #52
@morajabi @gyandeeps Are you guys interested in taking this up?

[2017-09-24 23:12] #24 closed

[2017-09-24 23:12] #41 closed

[2017-10-10 12:41] #21 closed

[2017-10-11 08:26] Foreverofh opened #57 "默认渲染时候没有translateX，怎么解决"
![qq 20171011162542](https://user-images.githubusercontent.com/15324717/31429521-de0de032-aea0-11e7-80ec-fde470847323.png)

[2017-10-11 08:26] #57 closed

[2017-10-31 04:55] ritz078 opened #58 "make svg optimization optional"

[2017-10-31 07:21] morajabi commented on #58
Have you picked it up?

[2017-10-31 07:45] ritz078 commented on #58
No. I am a bit busy these days. You can pick it up if you want.

[2017-10-31 07:47] morajabi commented on #58
OK! I just have a problem, when you return a promise from this function https://github.com/transform-it/transform-www/blob/master/pages/html-to-jsx.js#L24 where would you convert it to JSX then?

[2017-10-31 07:51] ritz078 commented on #58
I have just pushed the latest code. See if it makes sense now.

[2017-10-31 07:51] morajabi commented on #58
I spend half an hour trying to figure this thing out. haha

[2017-10-31 07:53] ritz078 commented on #58
I am really sorry. I should keep that in mind or else I may be wasting someone's time. I will make sure this doesn't happen again. Again, Sorry.

[2017-10-31 07:54] morajabi commented on #58
Oh, I didn't mean that way! You're awesome 100💯 One more thing it seems we don't have any space for another checkbox now?

[2017-10-31 08:05] ritz078 commented on #58
I am just taking it as a learning. Yes it seems so. I am open to ideas for the design fix. We can change the text from "react-native-svg" to "React Native". Maybe it gives some space ?

[2017-10-31 08:07] morajabi commented on #58
Yea, it'll work for now but then we have to change the `ConversionPanel` prop api.

[2017-10-31 08:11] ritz078 commented on #58
Yes that's the only solution or I am fine to move the react native svg functionality to a completely separate route with a small note on the current page. I think that separation makes more sense here.

[2017-10-31 14:52] ritz078 commented on #58
are you working on this ?

[2017-10-31 19:48] morajabi commented on #58
No, I want now... Should I separate then?

[2017-10-31 19:49] ritz078 commented on #58
Yes

On Wed 1 Nov, 2017, 1:18 AM Mohammad Rajabifard, <notifications@github.com>
wrote:

[2017-11-01 07:52] #58 closed

[2017-11-04 10:01] greenkeeper[bot] opened #60 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2017-11-04 19:54] morajabi commented on #60
\cc @ritz078

[2017-11-11 16:54] #60 closed

[2017-11-24 19:38] #44 closed

[2017-12-20 21:53] rickyhan opened #61 "Add the option of snake case for Rust serde"
Since the recommended style for Rust is snake case, there should be an option to convert field names to snake case by using serde rename attribute.

Example:

[code]

[2017-12-23 19:37] #61 closed

[2017-12-23 19:43] ritz078 commented on #61
it is live

[2017-12-24 03:57] rickyhan commented on #61
Thanks

On Sat, Dec 23, 2017, 2:43 PM Ritesh Kumar <notifications@github.com> wrote:

[2017-12-27 18:28] sbeckeriv opened #62 "rust snakecase handle capital names"
[code]
should just be
[code]

thanks again. saved me a ton of time.

[2018-01-03 20:10] gyandeeps opened #63 "Feature: YAML to JSON"
* JSON to YAML
* YAML to JSON

I think this would be a good addition.

[2018-01-04 20:27] Ameobea opened #64 "JSON keys starting with numbers produce invalid TypeScript interfaces"
Transforming this JSON into TypeScript interface produces the following output:

JSON:
[code]

TypeScript:
[code]

This produces an error in TypeScript since key names can't start with numbers in JavaScript unless they are surrounded with quotes.  The fix would be to quote key names that start with numbers or other invalid characters (I'm pretty sure you can have JSON keys like `"--foo"`, so maybe

[2018-01-10 22:11] shakyShane opened #65 "Consider using https://www.npmjs.com/package/json-ts"
If the the goal of converting JSON to typescript is to produce useful type/interfaces, then one should really choose [my implementation](https://www.npmjs.com/package/json-ts)

It supports more features that other libraries, has a simpler API, can merge multiple JSON blobs, and is more correct than any competition.

Please see the comparison table & tests for examples - if you have an interest in

[2018-01-14 20:29] ritz078 commented on #65
Hi @shakyShane ,

It looks great and really rich feature-wise. Currently, it seems that it can be used for JSON to Flow and JSON to Typescript. I am not sure how it can replace json-schema-to-typescript as it takes JSON as an input and not a JSON schema?

[2018-01-14 20:38] shakyShane commented on #65
Ahh sorry, yes that's correct!

[2018-01-14 20:49] ritz078 commented on #65
I would love a PR :)

[2018-01-17 03:16] linonetwo opened #66 "Feature: js to JSON"
Sometimes we copy js object instead of JSON:

[code]

I think we could JSON.stringify this?

[2018-01-19 16:20] #64 closed

[2018-01-21 17:30] #65 closed

[2018-01-21 17:30] #66 closed

[2018-01-21 17:31] ritz078 commented on #65
it is live now. 🎉

[2018-01-22 09:23] #11 closed

[2018-03-01 22:26] brunolemos commented on #33
Came here to ask for mobile friendly.
It makes sense not necessarily in the way "it will be used extensively on mobile" but, for example, someone shared this on twitter and I can't check right now if this works, can't test it, check if it solves my issue, etc.

![12b64600-3cba-48cc-99d8-79275057733b](https://user-images.githubusercontent.com/619186/36873013-fe2ed548-1d85-11e8-8c4f-1917399d8346.png

[2018-03-02 08:43] morajabi commented on #33
@ritz078 Maybe some kinda demo page with fixed data would work?

[2018-03-02 09:08] ritz078 commented on #33
I guess that makes sense since this is anyways not going to be useful on mobile. So I can actually replace this code part with features and an image.

[2018-03-05 16:41] Javier-Rotelli opened #67 "Cursor jumps to end of the text when editing invalid json"

[2018-03-05 16:52] Javier-Rotelli opened #68 "Cursor jumps to end of the text when editing invalid json"
First, thanks for this awesome tool! it's been saving me a lot of time lately :D

so, i have some json that's not 100% valid
for example, i copied a js object, and i need to add quote marks around properties names
whenever i type something the cursor jumps to the end of the input
like this:
![Example](https://d2ffutrenqvap3.cloudfront.net/items/2o1t46093R2Q0o151M01/Screen%20Recording%202018-03-05%

[2018-03-05 16:53] #67 closed

[2018-03-05 16:53] Javier-Rotelli commented on #67
bad internet connection and me not having enough coffee :( sorry for the double posting

[2018-03-05 19:01] ritz078 commented on #68
I am aware of this. I will try to fix it in few days. Should be an issue with codemirror. Thanks for reporting.

[2018-03-25 22:38] #68 closed

[2018-03-25 22:39] ritz078 commented on #68
should be fixed now.

[2018-03-26 20:14] sibelius opened #70 "can we rollback to old behavior for json to flow transform?"
there is a bunch of `I` before all types

example:
[code]

it was like this:

[code]

[2018-03-26 20:30] #70 closed

[2018-03-26 20:30] ritz078 commented on #70
wasn't intentional. check now.

[2018-03-26 20:39] sibelius commented on #70
tks \o/

[2018-03-28 12:04] tjallingt opened #73 "[feature] jsx props to js object"
for example:

[code]
becomes:

[code]

[2018-03-28 20:03] #73 closed

[2018-03-28 20:15] ritz078 commented on #73
It is live now. 😃 https://transform.now.sh/jsx-to-js-object/

[2018-03-28 20:26] tjallingt commented on #73
You are amazing ✨

[2018-03-28 20:37] ritz078 commented on #73
It isn't yet feature complete. Like it won't be able to handle functions for now. I will do that when I get time.

[2018-03-28 20:37] ritz078 opened #75 "Fix JSX mode"

[2018-04-01 10:00] ritz078 commented on #63
live now

[2018-04-10 07:08] chauey opened #76 "How to generate all Typescript classes for OpenApi schema? Definitions deeper in graph, related to "oneOf"?"
I tried to paste in the OpenApi schema from https://github.com/Mermade/swagger2openapi/blob/master/schemas/openapi-3.0.json, but it does not generate classes for objects deeper in the graph. Is it related to "oneOf"? Advice? Thanks!

[2018-04-10 07:27] chauey commented on #76
oh perhaps I need "unreachableDefinitions"

[2018-04-18 09:21] silicakes opened #77 "[BAD PRACTICE] CSS to Emotion nested css`` rules"
In the following [example](https://transform.now.sh/css-to-emotion/), the transformer demonstrates the following rule:

[code]

being converted into:

[code]

This should come with a warning as, per emotions [documentation](https://emotion.sh/docs/nested):

Meaning that it'll break when trying to force specificity using `cx`

[2018-04-18 09:35] ritz078 commented on #77
Can you please post this issue on https://github.com/brikou/CSS-in-JS-generator?

[2018-04-18 09:35] #77 closed

[2018-04-18 09:42] silicakes commented on #77
@ritz078 roger that.

[2018-04-22 08:38] ritz078 commented on #47
Don't think this one fits the website.

[2018-04-22 08:38] #47 closed

[2018-04-23 09:47] ritz078 commented on #27
Don't think this is needed anymore.

[2018-04-23 09:47] #27 closed

[2018-05-13 18:06] #33 closed

[2018-05-14 07:35] pd4d10 opened #80 "Markdown -> HTML?"
Willing to submit a PR if you have the plan

[2018-05-14 09:48] ritz078 commented on #80
PR is welcome :)

[2018-05-14 14:59] ritz078 opened #81 "ruby hash to JSON converter"

[2018-05-15 12:48] #80 closed

[2018-05-28 16:09] jake-nz opened #83 "JSON to React PropTypes.func"
Thanks for the handy tool!
It looks like [transform-it/babel-plugin-json-to-proptypes supports](https://github.com/transform-it/babel-plugin-json-to-proptypes/blob/master/src/index.js#L59)  `()=>{}` →`PropTypes.func` and `function(){}` →`PropTypes.func` but it's not working on https://transform.now.sh/.
Is this something that can be added?

[2018-05-28 17:45] ritz078 commented on #83
can be done. instead of JSON, I will have to add support for JS object. I will do it ASAP.

[2018-06-29 03:20] KeshShan opened #84 "The clear button in the left panel (editor) does not clear the results in the right panel"
Appreciate the effort in creating this amazing tool, just found a small user experience glitch which I thought worth notifying!!

Description:
The bin button in the left panel which is used to clear the content of left panel/editor should also clear the adjacent transformed result in the right panel as well instead of persisting it.
Small screen capture: [link](https://cl.ly/1L1m2i1m260Y)

[2018-06-29 03:20] KeshShan commented on #84
I would be more than happy to fix and send a PR

[2018-06-29 04:43] KeshShan commented on #52
@ritz078 I would like to give it a try, since its still open

[2018-06-29 11:20] ritz078 commented on #52
@KeshShan sure

[2018-06-29 11:28] #84 closed

[2018-07-10 14:17] KeshShan opened #86 "Alert before exiting"
Should make sure people cannot lose progress by alerting them before leaving the tab/window.

[2018-07-11 13:35] #86 closed

[2018-07-18 17:53] tonyxiao opened #88 "JSON to io-ts"
We have JSON to typescript interface - which is amazing. The next step would be something like JSON to io-ts or json to typescript classes annotated via [class-validator](https://github.com/typestack/class-validator) so that types can be checked both at compile time and actually at run time. For example:

http://www.olioapps.com/blog/checking-types-real-world-typescript/

[2018-07-25 15:40] #32 closed

[2018-08-08 16:54] tonyxiao commented on #88
Whoa this is awesome - one thing I notice is that it doesn't seem to work correctly with optional fields. I think this is hard to do given limitation in io-ts. I filed a ticket here - https://github.com/gcanti/io-ts/issues/196

Do you have any better ideas on how we can support it?

[2018-08-28 14:45] ritz078 commented on #88
Thank you. been busy last few weeks. I am trying to figure that out :).

[2018-09-03 13:43] dtolnay opened #89 "Nondeterministic missing fields in JSON Schema to Rust Serde"
In this sample input https://transform.now.sh/json-schema-to-rust-serde/ the resulting struct needs to have 6 fields: firstName, lastName, age, height, favoriteFoods, likesDogs. Usually the output is correct but if you toggling the Snake Case checkbox a dozen times or so, occasionally you will see it output a struct that only has 5 fields with favoriteFoods missing.

[2018-09-17 15:15] ritz078 commented on #89
I might have handled state changes wrongly. I will check. Thanks for reporting :)

[2018-10-24 20:27] Telematica opened #90 "Command Line Utility"
Is there any way to output Types via Command Line?

[2018-12-11 15:58] bastor opened #91 "Broken YAML to JSON transform"
Thanks for the great tool!

It looks like yaml to json transform is broken. I've created PR to fix it

[2018-12-12 05:21] ritz078 commented on #91
closed via #92

[2018-12-12 05:21] #91 closed

[2018-12-30 01:46] cosmicspacedragon opened #93 "Rust | Add an option for snake_case to camelCase conversion on a per-struct basis instead of on a per-field basis"
Add an option to do this
[code]
instead of this
[code]

[2019-02-04 10:49] CoenWarmer opened #94 "Convert Flow to TS types"
Would be super useful to have a functionality to convert Flow types to Typescript types.

[2019-02-05 09:38] Luro02 opened #95 "JSON to Rust Serde, handling "null" correctly"
Currently the converter does the following with null:
[code]
[code]
and this will cause a compiler error, because Rust doesn't know "string" (lowercase) and Serde doesn't convert implicitly so it will error too! (afaik in JSON "" == null, but Serde wants it to be an optional value)
The correct way of handling errors would be:
[code]

Thanks and great job (you saved me hours of stupid copy-pasting

[2019-02-05 10:02] Luro02 opened #96 "Add rust 2018 keywords to the exceptions"
In Rust 2018 there were new keywords added, that are not allowed to be used as variable names.
The following keywords are missing:
["dyn", "try", "async", "await", "union"]
[code]
[code]

[2019-02-05 10:36] Luro02 opened #97 "JSON to Rust Serde, handling special characters"
This issue is related to #46.
According to the [rust-book](https://doc.rust-lang.org/reference/identifiers.html), the lexer has some specific rules on how variables have to be named and what is valid/invalid.
[code]
or
[code]
this means the following cases are invalid:
- all variables starting with a number
- all variables containing a special character like "#", ".", ...
- all variables containin

[2019-04-09 14:06] RWOverdijk opened #98 "Elasticsearch mapping"
First off thank you for building this. I use it daily for typescript, mst, react, sql... It's a huge time saver.

Now! It would be awesome if it also supported elasticsearch mappings, which I think can be done seeing as how they're quite simple _generally_.

[2019-04-12 10:39] ritz078 commented on #98
It's more like converting a JSON to JSON schema. That's not going to be straightforward. I will see what's possible. Meanwhile, PR is welcome.

[2019-04-12 12:09] RWOverdijk commented on #98
I don't know how the tool works but I assume that at the center of it there's something that extracts info from the json, and that the generators all interpret that differently, no? So wouldn't this be a matter of writing that back into json?

This is just me being curious by the way 😄

[2019-04-12 22:11] davo opened #99 "Typescript to JSON Schema"
Input:
[code]

Expected output:

[code]

Not really sure how to make this happen or help out, but I'm willing to learn how to do it 🤓

Related projects:

- [typescript-json-schema](https://github.com/YousefED/typescript-json-schema)
- [typson](https://github.com/lbovet/typson)

[2019-05-13 09:17] ritz078 commented on #99
None of them will ensure the right output. Any JSON schema you get from TypeScript won't be trustworthy. for example, a `number` in TS can be any of `number` or `integer` in JSON Schema.

[2019-05-13 09:18] ritz078 commented on #98
You can get an idea about that [here](https://github.com/transform-it/transform-json-types)

[2019-05-13 09:24] ritz078 commented on #94
Can be done using https://github.com/bcherny/flow-to-typescript

Anyone willing to take this up is welcome, else I will take this up.

[2019-05-20 18:09] #99 closed

[2019-05-28 18:06] enjikaka opened #100 "x -> JSDoc"
Would be nice if it could transform to JSDoc typedefs. :)

Example for https://www.last.fm/api/show/user.getInfo

[code]

Raw JSON:
[code]

Typescript generation from transform.now.sh;
[code]

[2019-07-03 09:56] #90 closed

[2019-07-03 14:08] Haroenv opened #102 "Error on Safari"
I have not been able to find where the code that this error comes from originates from, but it seems like this is a regex which doesn't work in Safari:

<img width="1141" alt="Screenshot 2019-07-03 at 16 03 50" src="https://user-images.githubusercontent.com/6270048/60598029-49d2d380-9dac-11e9-936e-640b2e15a884.png">

[code]

This RegEx also errors in Chrome, but it doesn't seem like that code gets

[2019-07-03 17:46] ritz078 commented on #102
It seems that an encoding error in @babel/standalone. https://github.com/babel/babel/issues/6976

Didn't work even after trying the suggested fix though. Some issues on stackoverflow also suggest it as a webkit bug where it isn't able to understand special characters. I will look into a fix ASAP.

[2019-07-18 13:37] #52 closed

[2019-07-18 13:37] #94 closed

[2019-07-18 13:37] #13 closed

[2019-07-18 13:37] #102 closed

[2019-07-19 09:07] linonetwo opened #109 "JSON-LD to Turtle (N-Quad)"
RDF dialect transformation.

That will be useful in [SoLiD](https://solid.mit.edu/) App development.

[2019-07-19 12:59] #109 closed

[2019-07-19 13:16] ritz078 commented on #109
I hope this solves it for you. 😀

[2019-07-19 13:36] linonetwo commented on #109
You are so cool!

[2019-07-19 14:13] #2 closed

[2019-07-19 15:00] #100 closed

[2019-07-19 17:20] ritz078 commented on #102
should work now.

[2019-07-19 17:27] ritz078 opened #113 "Clear session storage on each deploy"

[2019-07-19 18:12] #113 closed

[2019-07-22 13:28] D34THWINGS opened #123 "Privacy policy update or GDPR compliance"
Hi,

The Policy button on the top right corner says that data stays with the user but it's not. You're using Google Tag Manager and Google Analytics which retain user informations. I think you should either provide an accurate message regarding data usage or support the GDPR EU law program that requires you to put a banner displaying data usage on your website and provide a way to disable it.

Tha

[2019-07-22 14:20] ritz078 commented on #123
Sure. I am exploring this. I have got rid of tag manager and looking for an alternative solution of tracking anonymous page views.

[2019-07-22 21:55] D34THWINGS commented on #123
Let me know if you need help on this or if you want to work on a PR! Thanks for the quick reply! Don't feel pressured by this though, I meant it as a general recommandation :)

[2019-07-23 08:27] ritz078 commented on #123
I will definitely need help on this. So the only data I need from the page are the basic ones like geography, page views, etc.

The first thing is making the messaging clear about what is being tracked.
Then create a flow to accept or deny that permission.

[2019-07-23 14:22] D34THWINGS commented on #123
I think the message should something like:

Maybe adding a link to some kind of privacy policy that you can copy/paste from another website, like most people do.

If you want true compliance, the only thing you need to do is to implement a banner/modal/popup that asks for user permission to collect data with a link to privacy policy and explanations about how to retrieve/delete personal data, etc.

[2019-07-23 21:28] evmar opened #129 "No fallback font for non-mac browsers"
It appears to have hardcoded Mac-only fonts with no fallback.

[2019-07-24 06:47] #129 closed

[2019-07-24 06:48] ritz078 commented on #129
Can you check now and let me know if that's working ?

[2019-07-24 14:25] evmar commented on #129
The editor widget is still using a sans-serif font, which I don't think is your intent.

[2019-07-24 19:08] #97 closed

[2019-07-24 19:08] #62 closed

[2019-07-24 19:08] #89 closed

[2019-07-24 19:08] #95 closed

[2019-07-24 19:51] ritz078 commented on #129
Can you suggest a code font that is pre-installed on your OS?

[2019-07-24 21:07] evmar commented on #129
`monospace`

[2019-07-26 07:29] ritz078 commented on #76
Can you post an expected and actual result ?

[2019-07-26 12:32] ritz078 opened #137 "4xx error shows 5xx page."
If you open a wrong URL, 404 page should be shown instead of current 5xx page

[2019-07-28 10:07] ritz078 opened #139 "Allow JS object in place of JSON"

[2019-07-28 18:14] fiws opened #141 "feature request: js/json to joi schemas"
This would be awesome for hapi development.

[joi](https://github.com/hapijs/joi)

[2019-07-29 06:04] ritz078 opened #142 "GraphQL to Apollo Angular components: Plugin 3 validation failed"
Steps:
1. Go to https://transform.tools/graphql-to-components
2. In the right editor panel, click on the title. It's a select input. Then select *TypeScript Apollo Angular*

![screenshot-transform tools-2019 07 29-11_33_20](https://user-images.githubusercontent.com/5389035/62025090-bea2fd00-b1f4-11e9-8b67-e123846eb3a0.png)

[2019-07-29 09:44] KonradLinkowski commented on #137
https://github.com/zeit/next.js/issues/8136

[2019-07-29 10:58] ritz078 commented on #137
I saw that. Thanks a lot for opening that issue.

I see the solution is mentioned there. would you like to open a PR?

[2019-07-29 11:02] KonradLinkowski commented on #137
I'm not exactly sure how to use react component as functions as you do in those components, but I'll do my best

[2019-07-29 11:11] ritz078 commented on #137
Since we have to extend `App`, we will have to convert it into class first. So rather than using hooks we will have to use the general way of writing class components.

[2019-07-30 16:30] ritz078 commented on #137
@KonradLinkowski Let me know if you are working on this or not. :)

[2019-07-30 16:32] KonradLinkowski commented on #137
I don't have much time to do that. You can take it if you want.

[2019-07-30 17:32] ritz078 commented on #137
No issues. I will take this :)

[2019-08-01 11:38] #137 closed

[2019-10-04 14:18] muescha opened #147 "Feature request: npm <---> yarn"
i like to see an transformation for: npm <---> yarn

i always forget whats the correct syntax of the other command

[2019-10-12 11:50] Shriram-Balaji opened #151 "transform.tools as a vscode extension?"
@ritz078 Thanks for this great project!

Currently I'm not able to find Vscode extensions that have a comprehensive list of transformations. Would making a vscode extension out of transform.tools be useful? Let me know your thoughts on this :smile:

[2019-10-13 05:09] ritz078 commented on #151
It will definitely be useful but currently I don't have the time to work on it.

[2019-10-15 19:06] p-racoon commented on #81
JSON and Ruby Hashes are pretty similar, but still, have their differences. One of them being that Ruby hashes allow Objects as keys, whereas JSON does not.
Example:-
[code]
This is a valid Ruby hash, but JSON does not allow that.
hence, in this case, we can either call this as `invalid input for JSON conversion`, or we can do what  `to_JSON()` function does in ruby.
So basically it would simply `

[2019-10-15 19:11] p-racoon commented on #81
The JSON syntax or Definition in some sense can be found [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON#targetText=JavaScript%20and%20JSON%20differences,some%20JavaScript%20is%20not%20JSON.)

[2019-10-15 19:21] p-racoon commented on #81
One more such issue is use and support of symbols in Ruby.
In Ruby, Symbols can be used as keys
[code]
This too is a valid Ruby hash, but JSON does not allow that.
Hence, in this case as well, we can either call this as invalid input for JSON conversion, or we can do what to_JSON() function does in ruby.
[code]
![RubyHashToJSONSymbolsAsKey](https://user-images.githubusercontent.com/13845070/668625

[2019-10-15 19:39] ritz078 commented on #81
We should do what `to_JSON()` does in all cases.

[2019-10-15 21:34] p-racoon commented on #81
I found [this library named Opal](https://opalrb.com/#targetText=Opal%20is%20a%20Ruby%20to,and%20small%20in%20its%20footprint.) should we use this or stick to building a compiler?

[2019-10-16 13:38] ritz078 commented on #81
you can use 3rd party libraries if they work

[2019-10-20 17:11] p-racoon opened #152 "compilation failing "Can't resolve 'next-server/dynamic' ""
Unable to compile, throwing error: -
Failed to compile
./components/EditorPanel.tsx
Module not found: Can't resolve 'next-server/dynamic' in '/home/prasham/Desktop/transform/components'
This error occurred during the build time and cannot be dismissed.

![dynamic-error](https://user-images.githubusercontent.com/13845070/67163278-ac1b0880-f38a-11e9-95e5-089bea64950f.png)

[2019-10-20 17:51] #152 closed

[2019-11-13 10:15] flowHater opened #162 "Not enough deep type inference (Lvl1)"
Case: Json to JSDoc
input:
[code]

Got:
[code]
Expected:
[code]
**Same with:**
input:
[code]
got:
[code]

expected:

[code]

[2019-11-16 18:49] zanza00 opened #163 "`null` is encoded as `string` in a couple of languages"
I found this bug while converting a JSON to `io-ts` that does also validation. Said validation will fail.

For example this JSON
[code]
will be converted in

[code]

Note that the validator is `string` and it also misses the `t` from the import. I think that value is a default one.

I tryed a couple more and found the following with the same `string`:
- sarcastic
- scala case class

[2019-11-24 13:41] WLun001 opened #164 "json to protobuf?"
Have any plan to support JSON to protobuf?

[2019-12-05 16:50] Tibfib opened #165 "Feature Request: React PropTypes to TypeScript types"
Thanks for this excellent tool!

I've been gradually converting a JS React codebase to TypeScript and am realizing this would be super helpful.

[2019-12-21 15:54] ThomasOrlita opened #166 "404 page if the URL ends with a slash"
This URL works: https://transform.tools/json-to-mongoose
but this doesn't: https://transform.tools/json-to-mongoose/

I got linked to the second URL from somewhere, it'd be better if it showed the correct page instead of 404.

[2019-12-30 13:32] phdoerfler commented on #163
I suggest using `Option[String]` instead of `string` for the scala case class generator

[2020-01-06 15:50] linonetwo opened #169 "TS to JSONSchema"
Hi, can you add this?
https://github.com/vega/ts-json-schema-generator

[2020-01-11 18:24] #93 closed

[2020-01-11 18:45] #169 closed

[2020-01-11 18:46] ritz078 commented on #166
Can you check now ?

[2020-01-13 07:33] ThomasOrlita commented on #166
Works now

[2020-01-13 07:33] #166 closed

[2020-05-01 15:28] salientknight opened #179 "Pasting into the form"
Howdy! I love your page and I am very grateful for it! Awesome work!

I wasn't sure if it was intentional or not (I see the file upload has been added) but I can no longer paste code into the form. Was this intentional? (Using the latest Chrome on a updated Mac)

Thanks again and keep up the good work!

[2020-05-01 15:47] ritz078 commented on #179
Thanks a lot.

No that's definitely not intentional. I tried on chrome but wasn't able to reproduce the issue. Can you try in incognito mode without any chrome extension ?

[2020-05-08 05:46] rmohta opened #180 "How can I run this on a local machine?"
I'm assumed it's possible to run this on my laptop, and did the following steps. Can someone help me understand what am I doing wrong here?

Steps:
- Use nvm to install node v10.20.1
- npm install -g next react react-dom
- next --version
Output: Next.js v9.3.6
- npm i

I have tried to run the code using
* _npm run-script build_
* _next build_

[code]
It's was stuck in the last line for almost 25mi

[2020-05-18 20:05] ritz078 commented on #180
I will work on the weekend to fix these issues. It is mostly because monaco-editor takes a lot of time to build. I will try to separate that component and distribute an already built bundle on npm.

[2020-05-25 17:38] rmohta opened #181 "New Feature: JSON to String with escape characters and vice versa"
If we add a new functionality to convert a well formed JSON to String with escape characters (like Java String). This will allow to call REST API that has a body parameter of type String and can process a JSON string. Think of like, additional options/settings.

**Example**
From `{"first_name": "First", "last_name": "Last"}`
To `"{\"first_name\":\"First\",\"last_name\":\"Last\"}"`

[2020-06-04 06:05] azizhk opened #182 "Typescript to JSON Schema does not seem to be working."
https://transform.tools/typescript-to-json-schema
API is throwing 500 with response:
[code]

<img width="1630" alt="Screenshot 2020-06-04 at 11 34 11 AM" src="https://user-images.githubusercontent.com/5094296/83720827-801d7080-a657-11ea-83aa-9111fd39b132.png">

[2020-06-04 21:19] #3 closed

[2020-06-04 22:10] #139 closed

[2020-06-05 09:11] rohit-gohri commented on #165
This is a pretty great idea, would help in converting all the InferProps I have still lying around

[2020-06-05 14:15] #76 closed

[2020-06-05 22:40] ritz078 commented on #182
It looks like this works locally but fails in production.

Since vercel converts api to lambdas, I am not able to create temporary files in production.

https://github.com/ritz078/transform/blob/618bd8d5bcbe7e308ee0ec6aa7be0396db2aa3a7/pages/api/typescript-to-json-schema.ts#L8

Do you have workaround for this in mind?

[2020-06-05 22:41] ritz078 commented on #181
Would you like to open a PR for this ?

[2020-06-05 22:42] ritz078 commented on #180
Can you try running `yarn dev` using the latest master ?

[2020-06-05 23:11] ritz078 commented on #164
Thanks for the feature request. Will you be interested in opening a PR for this ?

[2020-06-05 23:13] ritz078 commented on #151
I don't think it's worth the effort to build this. Most of the transformations are done using independent packages those are already available on npm.

[2020-06-05 23:13] #151 closed

[2020-06-06 04:20] azizhk commented on #182
I think next creates individual bundles for each api route.
And that merges only the js files, not the ts files.

[2020-06-06 10:30] ritz078 commented on #182
Yes. every api route is a different lambda.

[2020-06-07 04:43] WLun001 commented on #164
@ritz078 I have look through the code, to be honest I not sure how to do it.

[2020-06-11 22:09] #83 closed

[2020-06-11 22:09] #98 closed

[2020-06-11 22:09] #123 closed

[2020-06-11 22:09] #141 closed

[2020-06-11 22:09] #147 closed

[2020-06-11 22:09] #81 closed

[2020-06-11 22:09] #162 closed

[2020-06-11 22:09] #163 closed

[2020-06-15 21:01] ritz078 commented on #179
Closing due to inactivity.

[2020-06-15 21:01] #179 closed

[2020-06-16 00:52] salientknight commented on #179
Sorry I drifted off. The problem was on my end.

[2020-07-21 09:23] golopot opened #218 "JSON to MySQL schema crash when a property value is null"
https://transform.tools/json-to-mysql

**Example:**

[code]

**Actual:**
A warning of
[code]

**Expected:**
A proper warning that says fields cannot be null.

[2020-08-11 10:53] #165 closed

[2020-08-12 00:32] #181 closed

[2020-08-12 00:32] #180 closed

[2020-08-12 00:32] #142 closed

[2020-08-12 11:27] #182 closed

[2020-08-13 07:07] #164 closed

[2020-08-13 19:14] Amirroracle opened #236 "Unexpected token C in JSON at position 0"
Hi there seems to be an error (default interface) where the typescript to json schema conversion isn't quite working.
https://transform.tools/typescript-to-json-schema

the error is 'Unexpected token C in JSON at position 0'

[2020-08-28 03:36] random-yang opened #238 "json -> ts results are redundant."
For example:
[code]
### expect:
[code]

### actually:
[code]

[2020-09-06 08:55] ritz078 commented on #238
This issue is open here https://github.com/evestera/json_typegen/issues/3

[2020-09-06 10:11] #238 closed

[2020-09-16 08:15] Rishabh-Rathod opened #239 "Css to Js Object conversion :- Unitless Css Styles should not be converted to string"
same as the [issue](https://github.com/postcss/postcss-js/issues/48)
#### Expected Behaviour
[code]

#### Actual Behaviour :-

[code]

Css-In-Js libraries like JSS do not support string unitless values.

Solution: Upgrading postcss-js library to the latest version will resolve the issue as it was fixed by [this PR](https://github.com/postcss/postcss-js/pull/49)

Let me know if i need to send a PR

[2020-09-16 17:12] ritz078 commented on #239
Thanks for reporting the issue.

It will be great if you can open a PR.

[2020-09-18 07:16] Rishabh-Rathod commented on #239
sure i will send one.

[2020-09-20 17:09] #239 closed

[2020-09-26 12:40] #218 closed

[2020-09-28 06:19] golopot commented on #218
Upstream issue: https://github.com/nijikokun/generate-schema/issues/47

[2020-09-28 10:09] linonetwo opened #244 "JS to JSON to xxx"
Can we have a combo system, that allows piping JS to JSON then to xxx?

So converting JS object to something else will be easier.

[2020-10-01 15:05] A11oW opened #246 "Feature request: xsd to typescript"
Like https://github.com/spreeuwers/xsd2ts

[2020-10-14 07:11] linonetwo commented on #244
And currently , JS to JSON is hard to find.

[2020-10-20 00:01] #236 closed

[2020-10-21 00:33] jfsiii opened #247 "JSON Schema to OpenAPI is failing"
https://transform.tools/json-schema-to-openapi-schema shows an error page.

When searching the repo I noticed the routes defined one package but the view importer another. Seems like they should be the same. Both using openapi-contrib vs we work version

[2020-10-21 08:48] liron-navon opened #248 "Graphql to typescript is broken"
Graphql to typescript is broken

[2020-10-22 11:15] darkowic commented on #236
No stale. The issue still exists

[2020-10-30 05:58] X140Yu opened #249 "Feature Request: Support Go inline type definitions"

[2020-10-30 14:32] lol768 opened #250 "JSON to JSDoc doesn't support inner objects"
![Screen Shot 2020-10-30 at 14 32 02](https://user-images.githubusercontent.com/2552726/97717431-af2bf700-1abc-11eb-969b-480a5c0fae84.png)

Should run recursively on inner objects and generate multiple typedefs.

[2020-10-30 14:34] lol768 commented on #250
Something like:

[code]

[2020-11-03 15:01] OliverJAsh opened #251 "Suggestion: transform to convert TypeScript types to io-ts types"
This could be implemented using https://github.com/awerlogus/io-ts-transformer.

[2020-11-09 21:55] gaearon opened #252 "Minor suggestions for JSX transform"
Hi folks, this looks like a great project. I'd like to link to it from the upcoming React docs rewrite.

It would be nice to fix a few small things though. In no particular order:

- By default, JSX has `;` at the end. This is rarely useful because you want to copy it as an expression. If you started writing `return ( )` and then paste the result in the middle, `;` will be a syntax error. This can

[2020-11-10 08:29] #252 closed

[2020-11-10 08:30] ritz078 commented on #252
Thanks a lot for your suggestions Dan. These issues have been fixed now.

[2020-11-12 12:55] LFSCamargo opened #255 "JSDoc support new typings and Inner Object"
# Inner Objects
There's a problem with the code that does not allow to create of inner objects and type them on the JSDoc
<img width="664" alt="Screen Shot 2020-11-12 at 09 52 07" src="https://user-images.githubusercontent.com/44933973/98942564-f6f34b00-24cc-11eb-9dfe-6a4675ee9b22.png">
# Improved namings
There's another problem that i think it would be better to do this way like lowercase namings

[2020-11-13 09:31] wulei opened #256 "json to go struct support Outline type definitions"
[code]

support look like:

[code]

[2020-11-13 09:37] wulei opened #257 "json to protobuf message title `undefined`"
json Schema
[code]

transform protobuf

[code]

[2020-12-06 17:01] linonetwo opened #259 "TypeScript to JSON Schema Failing"
JSON.parse: unexpected character at line 1 column 1 of the JSON data

https://transform.tools/typescript-to-json-schema

![Screen Shot 2020-12-07 at 1 01 10 AM](https://user-images.githubusercontent.com/3746270/101286829-b36bd280-3827-11eb-99b8-b1f4d24bc7d5.png)

[2020-12-12 09:05] ritz078 commented on #259
Sadly this breaks only in production and works fine locally. While I work on a fix, you can run this locally if that's a blocker.

[2020-12-12 09:07] ritz078 commented on #244
I am afraid this will complicate things and I don't see a lot of users wanting this. To keep the maintenance work minimal, I will try to focus on straightforward conversions like A to B.

So I am closing this for now.

[2020-12-12 09:07] #244 closed

[2020-12-12 09:54] #248 closed

[2021-01-14 06:21] feeedback opened #265 "json-to-jsdoc object sort keys (does not preserve key order)"
https://transform.tools/json-to-jsdoc

[2021-02-10 12:15] lol768 opened #266 "Stop closing stale issues that have not received a maintainer comment"
https://news.ycombinator.com/item?id=25821092

[2021-02-10 12:16] lol768 commented on #250
#266

[2021-02-12 06:46] ritz078 commented on #266
Fixed, Thank you.

[2021-02-12 06:46] #266 closed

[2021-02-12 06:48] ritz078 opened #270 "Error page centre issue"
<img width="1440" alt="Screenshot 2021-02-12 at 12 17 30 PM" src="https://user-images.githubusercontent.com/5389035/107738272-5bbc7c80-6d2c-11eb-9b70-f07ceb54decf.png">

In the error page, things are not properly aligned.

[2021-02-12 07:26] agent515 commented on #270
Would like to pick up this issue.

[2021-02-12 11:44] ritz078 commented on #270
@agent515 assigned this to you.

[2021-02-16 07:10] agent515 commented on #270
@ritz078  To check the layout of Erro 500, I inserted this check `status === 500` and found the layout to be fine. But got error is shown in the following image. I am guessing it is related to updating webpack, do you want me to test this in any different way?

![image](https://user-images.githubusercontent.com/46898603/108029532-9b98a200-7053-11eb-998a-cdc68d00ef6f.png)

[2021-02-16 08:16] ritz078 commented on #270
This isn't webpack. The webpack prefix is there because it was used to build it.

You should check the CSS on production and compare it with what you get locally. This will help you narrow down the exact location of error.

[2021-02-16 10:51] agent515 commented on #270
If I compare just CSS files, I don't find anything wrong there. But noticed that instead of <Error404> <Error500> is loading in the production even though the status code is 404. And as I researched to find where exactly _error.tsx file is used, came across _error.js file. As I have not used webpack before, I am not exactly sure how to go about resolving the error. I now have started to learn webp

[2021-02-17 11:36] ritz078 commented on #270
In https://github.com/ritz078/transform/blob/707f15f6f26fcddf0a2d4f3324dea1f18225d2c1/pages/_error.tsx#L11

replace `statusCode === 404` with `false` and open a route that does not exist.

for eg: http://localhost:3000/a

[2021-02-17 12:04] agent515 commented on #270
I already did that and it worked fine (in the center) as shown in the snapshot shared before. And, I could not find the alignment error that is shown in the snapshot shared by you.

And about what I said in the previous comment was that on the production https://transform.tools/a shows Error500 component. I thought that itself should be a bug and traced it to _error.js static file but as I am not

[2021-02-21 15:22] #247 closed

[2021-02-27 06:59] ritz078 opened #272 "replace monaco-editor with codemirror"

[2021-03-09 01:21] kp52r11 opened #274 "support for json to SQL Server"
I am learning to go and need the ability to create SQL Server tables from JSON response.  I see you have the ability to convert JSON to MySQL table statements.  Please, add JSON to SQL Server table statements.

Thank you for your excellent online tools.

[2021-03-14 14:39] sameerveda opened #276 "typescript-to-json-schema failing"
![image](https://user-images.githubusercontent.com/22796631/111072610-4e4c0b00-8501-11eb-9cff-9d8d1f50cdbc.png)

[2021-03-20 15:07] DanielRHayes commented on #276
Duplicate of https://github.com/ritz078/transform/issues/259

[2021-04-05 14:24] thgh opened #279 "Empty string attribute in HTML should transform to empty string in JSX"
Input: `<img alt="" />`

Output: `<img alt />`

Expected: `<img alt="" />`

[2021-04-22 13:40] icai opened #281 "upgrade to next.js 10, react-monaco-editor catch error, but use @monaco-editor/react success?"
catch error:

https://www.npmjs.com/package/react-monaco-editor

[code]

success:

https://www.npmjs.com/package/@monaco-editor/react

https://codesandbox.io/s/monaco-react-issue-101-u1g1w?file=/pages/index.tsx

try to replace the package and upgrade to next.js 10?

[2021-04-22 13:41] icai opened #282 "upgrade to next.js 10, react-monaco-editor catch error, but use @monaco-editor/react success?"
catch error:

https://www.npmjs.com/package/react-monaco-editor

[code]

success:

https://www.npmjs.com/package/@monaco-editor/react

https://codesandbox.io/s/monaco-react-issue-101-u1g1w?file=/pages/index.tsx

try to replace the package and upgrade to next.js 10?

[2021-04-22 13:42] #281 closed

[2021-04-26 18:18] noxasaxon commented on #259
is this actually a `wontfix`?

[2021-04-27 04:54] linonetwo commented on #259
How can we help you debug this @ritz078 ?

[2021-04-27 07:26] ritz078 commented on #259
No. I fixed this locally but this breaks in production. I haven't been able to pinpoint the actual reason.

This is mostly due to the unavailability of lib.d.ts is production env but I don't know why it isn't available.

[2021-04-28 13:12] jfsiii commented on #259
@ritz078  do you mean a) you saw this failure locally, made a change that fixed it locally, but it's still broken in prod or b) things work locally but fail in production

because I can only do (b).

I also don't know what's unique about this route. Why isn't this failing for other (all?) routes?

[2021-04-28 20:00] ritz078 commented on #259
I know this works locally but not on production. the package used for this conversion looks for lib.d.ts which it isn't able to find in production

[2021-06-25 17:51] 4n70w4 commented on #218
Hi! Any news? The error is still there https://transform.tools/json-to-mysql.

[2021-06-26 17:49] ritz078 commented on #282
Thanks for this. We are going to implement this.

[2021-06-26 19:45] ritz078 commented on #276
closing in favor of #259

[2021-06-26 19:45] #276 closed

[2021-06-26 19:46] ritz078 commented on #259
I think the reason it is not working is because the API needs filesystem to work but vercel is serverless. The only solution I can think of right now is to either move transform to something like heroku or just move this particular API to heroku.

I am thinking of doing the latter.

[2021-06-26 19:46] #272 closed

[2021-06-27 04:44] linonetwo commented on #259
Is that server close source or written in other language? Will it be possible to run in frontend? If it requires nodejs, there are some virtual fs that can run in the browser.

[2021-06-27 14:19] ritz078 commented on #259
https://github.com/ritz078/transform/blob/master/pages/api/typescript-to-json-schema.ts is the API code that is deployed on vercel as a serverless function. The client-side uses this API. As you can see it does filesystem operation which doesn't work when deployed as a lambda and works locally since it has access to the filesystem.

We can create a separate directory that has a server that gets de

[2021-06-27 14:20] ritz078 commented on #246
Will you be open to creating a PR for this?

[2021-06-27 17:55] ritz078 commented on #282
This has been merged.

[2021-06-27 17:55] #282 closed

[2021-06-30 07:01] duongvtitleadpro opened #295 "I didn't find the Prettify button."
![demo](https://user-images.githubusercontent.com/49054779/123916301-b0932380-d9ab-11eb-8c20-966ae1cbe08d.png)

[2021-07-05 18:39] sibelius commented on #244
I think a JS -> JSON option would be cool

I'm using this https://www.convertonline.io/convert/js-to-json

[2021-07-06 02:54] linonetwo commented on #244
we already have, it just hard to find because that category only.have one tool

[2021-07-06 04:12] ritz078 commented on #295
It's no longer there. You can right click and press on "format code" instead.

[2021-07-06 04:13] #295 closed

[2021-08-19 09:10] Darrenzzy commented on #256
这个工具 非常需要，拜托了

[2021-08-19 09:13] Darrenzzy opened #296 "go struct to proto support Outline type definitions"
----------
* I expect generate files through some online tools or executable binary ,like this golang struct to proto file

[code]

[code]

* Who has a good method or common solution to improve development efficiency, will be very much looking forward to it

[2021-08-26 09:17] hasan-4 opened #297 "new converter"
Add scss to js object support

Thanks in advance.

[2021-08-26 09:19] hasan-4 opened #298 "new converter"
1. css to scss
2. scss to css
3. scss to js object

Thanks in advance.

[2021-08-26 09:21] #297 closed, assigned to nobody

[2021-09-12 10:44] Milo123459 opened #304 "For Rust serde, setting to auto implement `default`"

[2021-10-05 13:13] ziishaned opened #305 "Convert CSV to JSON"

[2021-10-11 15:24] tim-andes opened #309 "Feature Request: Make input / output window sizes adjustable"
Having difficulty seeing the all of the Tailwind output, but about 30% of the CSS input area is wasted space. Ideally, these window sizes would be adjustable to avoid any wasted space.

Codepen.io pens are a good example where HTML / CSS / JS windows can be dragged to adjust sizes.

[2021-10-18 19:32] l3satwik commented on #265
@ritz078 this issue can be closed now

[2021-11-02 20:55] marzer opened #310 "The TOML parser is out-of-date; TOML is now at 1.0"
TOML 1.0 was released earlier this year. One of the [many language changes](https://github.com/toml-lang/toml/blob/master/CHANGELOG.md) added in the new release is support for mixed data types in arrays, e.g.:
[code]

But whatever parser lib you are using to ingest TOML thinks that is illegal:

![image](https://user-images.githubusercontent.com/3958019/139949968-f1d1e502-eb77-4860-897b-4410acde364

[2021-11-06 01:39] zirho commented on #12
do you know why it's dropping comma now?
![image](https://user-images.githubusercontent.com/1251296/140593612-9810002e-3415-49e6-b639-10f1b3164e7d.png)

[2021-11-18 03:54] rimsila opened #311 "generate wrong output html to jsx"
it added sign `;` to the output look at the picture below thanks you

![Screen Shot 2021-11-18 at 10 51 28 AM](https://user-images.githubusercontent.com/51617383/142348626-5ad41a0b-a790-49ef-b377-5542ae4998af.png)

[2021-11-24 10:55] hichemfantar opened #312 "Update Tailwind CSS converter to 2"
The current tailwind converter is still in tailwind version 1.

[2021-11-24 10:58] #312 closed

[2021-11-26 03:22] #311 closed

[2021-11-27 04:02] C-EO opened #314 "Convert HTML to Typescript"
Can you consider adding an HTML to Typescript converter?
It would be very useful.

[2021-12-02 03:58] horizon0514 commented on #314
how a html to typescript?  html is totally different from typescript.
what's your Usage Scenario

[2021-12-02 04:26] C-EO commented on #314
I was creating a website purely out of Next JS and Typescript.
Now originally it was fully HTML and I wanted to convert it to Typescript.
And I found that the only way I could do that was by converting the HTML to JSX and then changing the JSX to TSX/TS.
But that was more work and an app like yours can really help developers to work around that more easily.

[2021-12-30 12:15] NastuzziSamy opened #315 "API calls"
Thank you for this repo !

Is there anyway to use it as an API ? I have 50 files to convert, I don't want to bother doing it manually haha

[2022-01-03 12:52] Seally commented on #310
Seems all that is needed is to bump the `@iarna/toml` package version to use v3 instead of v2. It only technically supports up to v1.0.0-rc1 though, but looking at the TOML spec changelogs there doesn't seem to be any new features introduced after rc1, just wording clarifications.

[2022-01-18 12:54] #305 closed

[2022-01-21 06:10] ritz078 commented on #315
There is no API. Which conversion are you looking for ?

[2022-01-26 01:19] gaearon opened #319 "Remove semicolon before JSX"
I find it very confusing that HTML gets transformed with JSX with `;` prepended to the output. Since people are going to copy this, this introduces a hazard like

[code]

which returns nothing.

Can we remove this? Thanks!

[2022-01-26 06:01] NaincyKumariKnoldus commented on #319
Hey @gaearon I have raised a PR now for this. Please review my PR!

[2022-01-26 06:17] #279 closed

[2022-01-26 06:17] #319 closed

[2022-01-26 06:19] ritz078 commented on #319
@NaincyKumariKnoldus Your PR didn't fix the actual issue. The result still included a `;` at the start.

@gaearon I have merged fix for this and #279

[2022-01-26 06:24] ritz078 commented on #314
HTML to TypeScript is a long road, and converting anything with no type information to something with types will always be buggy. So I won't be implementing this.

[2022-01-26 06:24] #314 closed

[2022-01-26 06:24] #315 closed

[2022-01-26 06:24] #246 closed

[2022-02-08 19:46] mikeytown19 opened #324 "Support for dark mode"
I love this tool, but using it at night time is sure bright.
Are there any plans to introduce a dark mode?

[2022-02-22 04:01] KielYam1212008 opened #325 "JavaScript to CSS converter online?"
I do not know how to convert javascript to css in the website tools online.

[2022-03-21 09:38] ShivnathGupta commented on #259
Typescript should stay on devDependencies in package.json

https://github.com/vercel/pkg/issues/572#issuecomment-440978846

may be it works

[2022-03-21 09:41] ShivnathGupta commented on #324
@ritz078 can please use dark theme of  monaco editor `https://microsoft.github.io/monaco-editor/index.html`

[2022-03-23 09:58] ulexxander opened #326 "Converting JSON containing quoted negative number as key inside object to Go struct fails"
Converting quoted positive number as key works properly:

[code]

[code]

But when the number is negative it fails:

[code]

Go output is empty.

The error I receive in console is `Got nothing`:

![image](https://user-images.githubusercontent.com/55105865/159672968-533c3774-f139-4244-b96c-77530a9a7eae.png)

[2022-04-29 05:03] YWD opened #327 "no-use-before-define"
Hi there, the tool you provide (https://transform.tools/json-to-typescript) is easy to use. but the order of output interface is reversed to use. in IDE it will get 'xxx was used before it was defined'. hope you can reverse the output

[2022-05-19 11:00] volkert-fastned opened #328 "What happened to json-schema-to-rust-serde?"
Back in 2019, I used https://transform.now.sh/json-schema-to-rust-serde/ to convert JSON Schemas to Rust Serde code, and that worked quite well. I only had to manually change some types in the generated code here and there (notably to properly use `enum`s and such), but most of the work in generating the `struct`s was done for me automatically.

I used to navigate to https://transform.now.sh/json-

[2022-05-19 18:45] volkert-fastned commented on #328
For anybody who got here through a search engine, looking for a solution to the same problem: I found an [alternative](https://github.com/quicktype/quicktype).

[2022-05-20 05:15] Darkle commented on #259
Bump

[2022-05-28 18:14] ritz078 commented on #259
@ShivnathGupta That didn't work https://github.com/ritz078/transform/pull/329

[2022-05-30 22:15] zomars opened #330 "HTML to JSX doesn't respect pixels on line-height"
This html:

[code]

Translates to:

[code]

When `line-height: 6px` is not equivalent to `line-height: 6` which both are valid values for `line-height`.

[2022-05-30 22:19] zomars commented on #330
I see that this behavior is [coming from upstream](https://github.com/reactjs/react-magic/issues/53).

[2022-05-30 22:28] zomars commented on #330
It seems that this was already fixed upstream but a new release wasn't provided: https://magic.reactjs.net/htmltojsx.htm

[2022-06-15 10:04] lil5 commented on #325
Shameless plug a project to move from JSS to SCSS
https://lil5.github.io/jss-to-scss/

It's not perfect but it does the job

---

For the devs @ritz078 Here is the format function I use (a list of regexs) are you interested in this conversion tool?

https://github.com/lil5/jss-to-scss/blob/main/src/jss-to-scss/index.ts

[2022-07-30 07:04] deepakmeett opened #335 "Json to Java"
Json to Java(Android model class) not availavle

[2022-08-03 16:00] jamesbmorris92 opened #336 "JSON Schema to Typescript"
When converting to typescript interfaces, JSON schema enumerations e.g.:
`"dataStoreType": {
	"description": "This should be 'internal' or 'external'.",
	"type": "string",
	"enum": ["external", "internal"]
},`
are converted to some sort of either syntax in typescript interfaces e.g.:
`dataStoreType: "external" | "internal"`

When parsing my JSON into my typescript interfaces it complains saying th

[2022-08-03 17:11] jamesbmorris92 commented on #336
Apologies, i've just realised that the library you use for converting this is a third party library, I will move this issue there. Feel free to close

[2022-08-05 08:23] ritz078 commented on #336
I think it makes sense to move the discussion to the original package. Thank you. I am closing this.

[2022-08-05 08:23] #336 closed

[2022-08-12 11:28] HardCoreQual opened #337 "joi to zod"
I create one example of it https://joi-to-zod.vercel.app/

can be nice to any-schema-validator   ->   any-schema-validator in future

[2022-09-16 09:08] TchernyavskyDaniil opened #339 "TS to JSON error"
https://transform.tools/typescript-to-json-schema

POST | https://transform.tools/api/typescript-to-json-schema
Status: 500
Response:
[code]

[2022-11-06 23:32] mr-bjerre opened #343 "VSCode extension"
Great tool!

I wonder how much work it would require to create the tool as a VS Code extension? I bet many would find it useful.

[2022-11-22 22:11] hichemfantar opened #344 "The website is down"
The [website](https://transform.tools/) is down.

[2022-11-23 03:02] vinliao commented on #344
I've forked the code and hosted it: https://transform-fork.vercel.app. Use this in the meantime.

[2022-11-23 03:50] ritz078 commented on #344
This has been resolved. Thank you for raising this.

[2022-11-23 03:50] #344 closed